# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = melvin.settings

[scrapyd]
application = scrapyd_heroku.app.application

[deploy]
url = http://melvin-123.herokuapp.com:80
project = melvin

